version: "3.8"

services:
  superset:
    build: .
    container_name: superset
    ports:
      - "${PORT}:8088"  # Railway dynamic port
    volumes:
      - superset_home:/app/superset_home
    command: >
      sh -c "superset db upgrade &&
             superset init &&
             superset fab create-admin --username jinal --firstname Jinal --lastname Swarnakar --email jinal.swarnakar@fiftyfivetech.io --password 123 --skip-if-exists &&
             superset run -p $PORT --with-threads --reload --debugger"

volumes:
  superset_home:
